
      <div class="col-md-6 big">
        <%= image_tag frame.image_url.to_s, class:"img-responsive fenix ", alt:"Responsive image" %>
      </div>

      <div class="col-md-4 big-info">
        <p> <%= frame.description%>  </p>
        <h5><%= frame.price%></h5>
      </div>
