 <div class="row">
      <div class="col-md-6">
        <%= image_tag frame.image_url.to_s %>
      </div>
      <div class="col-md-6">
        <p> <%= frame.description%>  </p>
        <h5><%= frame.price%></h5>
      </div>
 </div>