
    <div class="row">
      <div class="col-md-11 big">
        <img  src="assets/<%=imgSerie(@serie)%>" class="img-responsive fenix " alt="Responsive image">
      </div>
      <div class="col-md-1 big-info">
       
        
      </div>
    </div>
    