
    <div class="row">
      <div class="col-md-6 big">
        <img  src="assets/hl10-01.png" class="img-responsive fenix " alt="Responsive image">
      </div>
      <div class="col-md-6 big-info">
        <p> - Cree XM-L (U5) LED con una vida útil de 50.000 horas
        <p>- Dos modos de iluminación, con 5 tipos de salida:
              Modo linterna: </p>
              <p>High: 70 lúmenes/50m (Ni-MH)/35m (Alcalina)</p>
              Mid: 27 lúmenes/2h45m (Ni-MH)/2h15m (Alcalina)
              Low: 3 lúmenes/27h (Ni-MH)/30h (Alcalina)
              Haz de luz a 15 metros de distancia.
            Regulación de emisión de luz digital – mantiene iluminación constante
            Resistencia a caídas desde 1 metro</p>
        <h5>Precio: 1000</h5>
      </div>
    </div>
    <!-- Otras linterna -->
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <img  src="assets/hl10-01.png" class="img-responsive fenix " alt="Responsive image">
          <p>Lente resistente con vidrio ultra claro y con capa antireflejo</p>
      </div>
       <div class="col-md-2">
           <img  src="assets/hl30-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Salida de luz regulada digitalmente, mantiene un brillo constante</p>
      </div>
    </div>

  