    <!--<div class="row">
      <div class="col-md-2 col-md-offset-1">
          <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
          <p>Bonita linterna de capacidad</p>
      </div>
       <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
    </div>-->
    <% otrosProd.each do |prod| %>
      <%= prod.price %>
      <%= image_tag prod.image_url.to_s %>
    <% end %>