
<div id="pillsContainer">
<ul class="nav nav-pills">
  <li class="active"><a href="#">Todas</a></li>
  <li><a href="#">Serie 1</a></li>
  <li><a href="#">serie 2</a></li>
  <li><a href="#">serie 3</a></li>
  <li><a href="#">serie 4</a></li>
  <li><a href="#">serie 5</a></li>
  <li><a href="#">serie 6</a></li>
  <li><a href="#">serie 7</a></li>
  <li><a href="#">serie 8</a></li>
  <li><a href="#">serie 9</a></li>
  <li><a href="#">serie 10</a></li>
</ul>
</div>