            <div class="row">
              <div class="col-md-9">
                
                

            <div id="carouselContainer">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Los botones Redondos de abajo-->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>   
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="assets/slideI.jpg" class="img-responsive" alt="Responsive image">
                            <div class="carousel-caption">
                              <h3>First slide label</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/slideII.jpg" class="img-responsive" alt="Responsive image">
                            <div class="carousel-caption">
                              <h3>Second slide label</h3>
                              <p>Vestibulum quis quam ut magna consequat faucibus.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/slideIII.jpg" class="img-responsive" alt="Responsive image">
                            <div class="carousel-caption">
                              <h3>Third slide label</h3>
                              <p>Praesent commodo cursus magna, vel scelerisque nisl.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/slideIV.jpg" class="img-responsive" alt="Responsive image">
                            <div class="carousel-caption">
                              <h3>Fourth slide label</h3>
                              <p>No se que parafo viene</p>
                            </div>
                        </div>
                    </div>
                    <!-- Las flechas de los bordes-->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            </div>

            <!--Destacados-->
            <div id="destacados" class="col-md-2">
                <div class="row">
                  <div class="col-md-4">
                    Buscar 
                  </div>
                  <div class="col-md-1 col-md-offset-1">
                    |
                  </div>
                  <div class="col-md-4 col-md-offset-1">
                    Comparar 
                  </div>
              </div>
              <div class="row">
                    <div class="col-md-5">
                          <img src="assets/of1.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-md-7">
                          Oferta 1
                    </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                        <img src="assets/of2.jpg" class="img-responsive" alt="Responsive image">
                  </div>
                  <div class="col-md-7">
                        Oferta 2
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                        <img src="assets/of1.jpg" class="img-responsive" alt="Responsive image">
                  </div>
                  <div class="col-md-7">
                        Oferta 3
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                        <img src="assets/of2.jpg" class="img-responsive" alt="Responsive image">
                  </div>
                  <div class="col-md-7">
                        Oferta 4
                  </div>
              </div>
            </div>

          </div>
        

    <!--
    <div class="container">
    <%=render "flashlights/series"%>
    </div>
    -->