<div class="row">
<div id="horario" class="col-md col-sm-12">
	<h1><b>Horario:</b></h1> <h3>Lunes a Viernes de 09:00 a 13:00 horas y de 14:00 a 19:30 horas.</h3>
                <h3>Sábados de 10:00 a 13:30 horas.</h3>
</div>


 <div id="map-canvas" class="col-md col-sm-12"></div>

</div>
<div id="info-contact">
<h2>Conceptos de diseño Fénix</h2>

<p>Las personas siempre se impresionan por el fantástico rendimiento y versatilidad de los productos Fenix, que siempre siguen el concepto de diseño orientado al cliente. Fenix no se preocupa solo de las ideas de los consumidores, si no que además nos enorgullece al poder tenerlos. Cada modelo es una combinación de LED de clase mundial, el diseño óptico único de Fenix y un sistema de circuitos de corriente continua:</p>
<ul>
	<li>Diseño óptico excelente, logrando que el rayo de las linternas Fenix sea una mezcla de luz de largo alcance y suave iluminación con una combinación perfecta de los puntos de luz y el foco.</li>
	
	<li>Extraordinario sistema de circuitos de corriente continua que permiten que la iluminación de las linternas Fenix sea constante, sin irse oscureciendo en la medida en que se agotan las pilas.</li>
	
	<li>La más alta eficiencia eléctrica, que permite darle el mejor uso a la energía limitada de pilas por la excelente combinación de alto brillo y larga duración.</li>
	
	<li>LED de clase mundial, logrando una combinación perfecta de durabilidad y vida útil.</li>
	
	<li>Circuito inteligente de regulación digital, que entrega diversos modos y variantes de salida de luz para tener distintos tipos de iluminación.</li>
	
	<li>Sistema altamente eficiente de disipación del calor, asegurando la confiabilidad y eficiencia de nuestros productos.</li>
	
	<li>Lentes con capa anti reflejo, ultra claros y resistentes para una transmisión altamente eficiente de la luz.</li>
	
	<li>Impermeabilización IPX-8 y anodizado duro Tipo III, haciendo que las linternas Fenix sean resistentes al agua, durables y resistentes al rayado</li>
</ul>
<p>Al apegarse al concepto “El cliente es la fuente de diseño”, Fenix ha creado milagros, uno por uno, en la industria de las linternas con innovación continua.</p>



</div>



 <div id="press-photos" class="row">
 	<h1>Caso Mina San José</h1>
 	<p>Linternas Tácticas, en representación de FENIX hizo entrega de linternas LD20 a los 33 mineros.</p>


 		
 		 <% @images = Dir.glob("app/assets/images/mineros/700*.jpg") %>

 <% @images.each do |image| %>
   <p class="col-md-2"> <%= link_to (image_tag "mineros/#{image.split('/').last}", class:"img-responsive md-1", alt:"Responsive image" ), (image_path "mineros/#{image.split('/').last}"), class: "group1", title: "Entrega de linternas LD20 a los 33 mineros." %></p>
 <% end %>





 </div>

