
<div id="companies-head" class="row">
	<div  class="col-md-7 ">
	<h2>Grabados exclusivos para Empresas</h2>
	<p>En Linternas Tácticas no solo puedes comprar tus herramientas Fenix, también es posible personalizarlas a través de grabados exclusivos.</p>
	</div>

	<div id="companies-examples" class=" row col-md-3">
	<%= link_to (image_tag("companies_1.jpg" , class:"img-responsive fenix md-1" , alt:"Responsive image")), image_path("companies_1.jpg"), class: "group1", title:"Linternas para Entel" %>

	<%= link_to (image_tag("companies_2.jpg" , class:"img-responsive fenix md-1" , alt:"Responsive image")), image_path("companies_2.jpg"), class: "group1", title:"'Linternas regaladas a los '33 Mineros'" %>
	</div>

</div>

<div id="back">
<div id="companies-highlight" class="row">
<h1>Logotipos de empresa, frases, fechas de eventos, lo que necesites; grábalo en tu linterna para tener un objeto aún más especial.<h1> 
</div></div>