<ul class="nav nav-tabs">
  <li class="active"><a href="#concepto" data-toggle="tab">Diseño Fenix</a></li>
  <li><a href="#leds" data-toggle="tab">Historia Leds</a></li>
  <li><a href="#resistencia" data-toggle="tab">Pruebas de Resistencia</a></li>
  <li><a href="#mantencion" data-toggle="tab">Mantención y Revisiones</a></li>
  <li><a href="#manuales" data-toggle="tab">Manuales y Catálogos</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="concepto">


<h2>Conceptos de diseño Fénix</h2>

<p>Las personas siempre se impresionan por el fantástico rendimiento y versatilidad de los productos Fenix, que siempre siguen el concepto de diseño orientado al cliente. Fenix no se preocupa solo de las ideas de los consumidores, si no que además nos enorgullece al poder tenerlos. Cada modelo es una combinación de LED de clase mundial, el diseño óptico único de Fenix y un sistema de circuitos de corriente continua:</p>
<ul>
	<li>Diseño óptico excelente, logrando que el rayo de las linternas Fenix sea una mezcla de luz de largo alcance y suave iluminación con una combinación perfecta de los puntos de luz y el foco.</li>
	
	<li>Extraordinario sistema de circuitos de corriente continua que permiten que la iluminación de las linternas Fenix sea constante, sin irse oscureciendo en la medida en que se agotan las pilas.</li>
	
	<li>La más alta eficiencia eléctrica, que permite darle el mejor uso a la energía limitada de pilas por la excelente combinación de alto brillo y larga duración.</li>
	
	<li>LED de clase mundial, logrando una combinación perfecta de durabilidad y vida útil.</li>
	
	<li>Circuito inteligente de regulación digital, que entrega diversos modos y variantes de salida de luz para tener distintos tipos de iluminación.</li>
	
	<li>Sistema altamente eficiente de disipación del calor, asegurando la confiabilidad y eficiencia de nuestros productos.</li>
	
	<li>Lentes con capa anti reflejo, ultra claros y resistentes para una transmisión altamente eficiente de la luz.</li>
	
	<li>Impermeabilización IPX-8 y anodizado duro Tipo III, haciendo que las linternas Fenix sean resistentes al agua, durables y resistentes al rayado</li>
</ul>
<p>Al apegarse al concepto “El cliente es la fuente de diseño”, Fenix ha creado milagros, uno por uno, en la industria de las linternas con innovación continua.</p>

video de publicidad

</div>
  <div class="tab-pane" id="leds">

  	<h2>Historia de los Leds</h2>
  	
  	<p>Fue en 1962 cuando se desarrolló el primer LED que se comercializó. Nick Holonyak, Jr. lo inventó mientras trabajaba como científico asesor en un laboratorio de General Electric en Syracuse , Nueva York. El resultado surgió de la combinación de arsénico, galio y fósforo (GsAsP) por lo que el color del LED fue rojo, emitiendo una frecuencia aproximada de 650nm. No tenía gran intensidad, pero fue el comienzo.</p>

	<p>Poco tiempo después, se consiguió una mayor frecuencia de emisión al combinar el galio con el fósforo (GaP).</p>

	<%=image_tag "led.jpg", style: "float:left; padding:10px;"%>

	<p>Ya en los años 70, se logró introducir otros colores por medio de la diferente proporción de materiales combinados. Así surgieron los colores rojo y verde al utilizar GaP; rojo, anaranjado y ámbar de 630 nm, lo que lo hace muy visible, mediante la utilización de GaAsP. Después vendrían los populares leds infrarrojos, utilizados en controles remotos.</p>

	<p>Ya en los años 80 surgió una nueva y exitosa combinación, GaAlAs (Galio, Aluminio y Arsénico). Como resultado, la industria descubrió que el brillo generado por estos LEDs superaba en más de 10 veces a los LEDs surgidos de las primeras combinaciones. Por otra parte, era posible utilizarlos en letreros y displays, con circuitos multiplexados.</p>

	<p>Pero no todo era perfecto, también existieron un par de limitaciones: las frecuencias 660 nm eran solamente rojas y comenzaban a degradarse con rapidez ante altas temperaturas y mayor humedad. El encapsulado tenía mucho que ver con este resultado, porque las resinas creadas para ello no eran altamente impermeables. También es necesario recordar que las resinas se fabricaban en forma manual en esa época. Esos problemas ya no existen.</p>

	<%=image_tag "led2.jpg", style: "float:right; padding:10px; width:200px"%>

	<p>Hoy, la mayoría de las fábricas utilizan la norma ISO 9000 para certificar de calidad, las resinas han sido fabricadas con elementos que inhiben los rayos UVA y UVB, para obtener un mayor rendimiento outdoors.</p>

	<p>En la década de los 90 apareció el material que se utiliza hasta hoy por ser una combinación tremendamente exitosa: aluminio, indio, galio y fósforo (AlInGap). Esta aleación permite una amplia gama de colores que va del rojo al amarillo, tiene una excelente vida útil que alcanza a más de 100 mil horas en ambientes de temperatura y humedad extremas. Los anteriores habían superado la media de las 40 mil horas.</p>

	<p>Es raro que un LED se queme, menos aún en condiciones de uso normal. De hecho, la tasa de pérdida de luminosidad al año alcanza sólo al 5%. La vida útil de un LED actual supera los 10 años.</p>

	<p>A finales de la década de los 90 terminó la búsqueda de colores. En esos años el investigador Shuji Nakamura, de Nichia, una pequeña fábrica de LEDs, consiguió el color azul, el cual ha sido bastante difícil de obtener dada la cantidad de energía necesaria para funcionar.</p>

	<p>Hoy podemos encontrar diversas técnicas de producción para luz azul: basada en el SiC Silicio – Carbono, otra en base al GaN Galio – Nitrógeno, otra en InGaN Indio-Galio-Nitrógeno sobre substrato de Zafiro y una GaN en base a sustrato SiC. El compuesto GaN, inventado por Nakamura, es el más utilizado ya que tiene un bajo rendimiento de conversión y una elevada degradación con la temperatura.</p>

	<p>Como el azul es color primario, junto al verde y al rojo, se puede formar el blanco combinando los tres y la gama de colores completa del espectro. Gracias a esto es posible la existencia de gigantografías luminosas y grandes displays.</p>


  </div>
  <div class="tab-pane" id="resistencia"></div>
   <div class="tab-pane" id="mantencion">
<div id="links">
		<ul class="thumbnails">
    <li class="span12 margin-bottom-0">
        <a class="thumbnail center-all" href="http://i.imgur.com/mdqQTPT.jpg" style="max-height: 375px; width: 375px;" data-gallery>
            <img src="http://i.imgur.com/mdqQTPT.jpg" class="main-image">
        </a>
    </li>
</ul>
<!-- other images / video -->
<ul class="thumbnails"> 
    <li class="span6">
    	<%= link_to "Galeria de Fotos",  video_url("mal_funcionamiento.mp4"), title: "now now" %>
        
    </li>               
</ul>
	</div>
   </div>

   <div class="tab-pane" id="manuales">
<%= video_tag("mal_funcionamiento.mp4", :controls => true) %>
   </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"> </ol>
</div>



 <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};

</script>


