// Place all the styles related to the accessories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "paleta";


.index-accessories-panel{
		margin-top: 5px;

	.index-item{
		width: 300px;
		height: 350px;
		float: left;
		padding-top: 2px;
		margin-right: 1%;


		.show-more{
			display: block;
			margin: 0 auto;
			width: 150px;

		}


	img{
			display: block;
			margin: 0 auto;
			border:1px solid #aaa;
			width: 160px;
			height:200px;
			margin-bottom:3px;

		}

		p,a{
			text-align: center;
			font-weight: bold;
			font-size: 16px;
			border-bottom: none;
		}

	}


}

.modal{

	text-align: justify;
	
	.description{
		background: $color2;
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		color: $color5;
		
	}

	.price{
		float: right;
		font-size: 30px;
		font-weight: bold;
	}

	.name{
		float: left;
		font-size: 20px;
		font-weight: bold;

	}

	.compatible{
		border: 2px solid $color3;
		padding: 10px;
		border-radius: 10px;
	}
}