/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "paleta";

#borrar
{
	background-color: #000;
}
#nav{
	line-height: 150%;
	padding: 15px 10px;
}

.container-group{
	max-width: 1200px;
	width: auto;
	margin: 0 auto;
	-webkit-box-shadow: 6px 0 4px  -4px rgba(34, 34, 34, 0.24) , -6px 0 4px  -4px rgba(34, 34, 34, 0.24);   
	-moz-box-shadow: 6px 0 4px  -4px rgba(34, 34, 34, 0.24) , -6px 0 4px  -4px rgba(34, 34, 34, 0.24);  
	box-shadow: 6px 0 4px  -4px rgba(34, 34, 34, 0.24) , -6px 0 4px  -4px rgba(34, 34, 34, 0.24);
	background: rgba(255,255,255,.7);

}

.container{
	margin-top: 100px;
}


.footer
{
	background-image: asset-url("bg-gray.jpg");
	padding-top: 5px;
    height: 100px;
    bottom: 0px;
    width: 100%;
    background-color: $color1;
    overflow: hidden;
}


.imgDer
{
	float: left;
	min-height: 60px;
}

.logos
{
	margin-top: 2%;
}

.logos #twitter a:hover{
	background-image: asset-url('twitter_btn_h-01.png');
}

.logos #twitter a{
	background-image: asset-url('twitter_btn-01.png');
	padding: 10px 40px 40px 20px;
	float: left;
	margin-top: 10px;
}

.logos #facebook a:hover{
	background-image: asset-url('facebook_btn_h-01.png');
}

.logos #facebook a{
	background-image: asset-url('facebook_btn-01.png');
	padding: 10px 40px 45px 20px;
	float: left;
	margin-top: 10px;
}

.logos #sport a:hover{
	background-image: asset-url('jagd_logo_h-01.png');
}

.logos #sport a{
	background-image: asset-url('jagd_logo-01.png');
	padding: 10px 108px 50px 20px;
	float: left;
	margin-top: 10px;
}

address p
{
	font-size: 80%;
	padding: 0.1%;
	margin: 0;
	color:$color5;
	text-align: center;
}
address p:nth-child(4)
{
	color:$color3;
	font-style: italic;
	margin-top: 0.5%
}
#bannerInferior
{
	margin:0px;
}
#bannerInferior img 
{
	display:block;
	max-height: 10%;
	height: auto;
	/*min-height: 10%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
#relleno
{	
	@if 100%-65px-100px>0
	{
		height: 100px;
	}
	
}



.button{
	background-color: $color2;
	position: relative;
	border-radius: 10px;
	padding: 10px;
	color: $color5;
	margin: 0 auto;
	display: block;
	max-width: 60%;
	margin-top: 3px;
	margin-bottom: 50px;
	text-align: center;
}

.button:hover
{
	color: $color5;
	background-color: $color6; 
	text-decoration: none;
}

#cards .button{
	float:left;
	background-color: $color1;
	margin-top: 0;
	padding: 10px;
	font-size: 12px;
}

#cards{
	margin:0 auto;
	margin-top: 2%;
}

#cards img{
	float:left;
	max-height: 100%;
	margin-top: -30px;
}


.fenix {
	min-height: 70px;

}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}