/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "paleta";

#footer
{
	padding-top: 5px;
    height: 100px;
    bottom: 0px;
    width: 100%;
    background-color: $color1;
    overflow: hidden;
}


.imgDer
{
	float: left;
}

address p
{
	font-size: 80%;
	padding: 0.1%;
	margin: 0;
	color:$color5;
	text-align: center;
}
address p:nth-child(4)
{
	color:$color3;
	font-style: italic;
	margin-top: 0.5%
}
#bannerInferior
{
	margin:0px;
}
#bannerInferior img 
{
	display:block;
	max-height: 10%;
	height: auto;
	min-height: 10%;
	margin-left: auto;
	margin-right: auto;
}
#relleno
{	
	@if 100%-65px-100px>0
	{
		height: 100px;
	}
	
}