// Place all the styles related to the flashlights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "paleta";

.botonSerie a {
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:33px;
	-moz-border-radius-topleft:33px;
	border-top-left-radius:33px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:33px;
	-moz-border-radius-bottomright:33px;
	border-bottom-right-radius:33px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:19px;
	font-weight:bold;
	margin-bottom:10px; 
	
	height:40px;
	line-height:51px;
	width:129px;
	
	text-align:center;
}
.botonSerie a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.botonSerie a.active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $color2), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, $color2 5%, #ededed 100% );
	
	background-color:$color2;
}
.botonHumano
{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 130%;
	
}
.botonHumano img
{
	background-color: $color4;
	border-radius: 100%;
	padding: 5px;
}
.botonHumano img.active
{
	background-color: $color2;
	
}
#mainFrame .navbar
{
	margin:0px;
	border-radius: 0px;
	background-color: $color1;
	width: 100%;
	border: 0px;
	overflow: visible;
	padding: 0px;
	

}
#mainFrame .row:first-child
{
	
	margin-bottom: 30px;
	background-color: $color1;

	
}
#mainFrame .row:first-child p
{
	
	padding-top:30px;

	
}
#mainFrame .row:first-child h5
{
	
	padding-top:60px;
	font-weight: bold;
	
}
#mainFrame img
{
	display: block;
	min-height: 10%;
	max-height: 10%;
	height: auto;
	width: auto;
	margin: 10px;
}
#mainFrame .row:first-child img
{
	display: block;
	min-height: 40%;
	max-height: 40%;
	height: auto;
	width: auto;
}

#frame{
	margin-left: 15%;
	padding-left: 10px;
	padding-right: 10px;

}

#frame .big {
	display: block;
}

#frame .big-info {
	color: $color2;
	text-align: justify;
}

#otrosProd{
	margin-left: 20%;
	overflow-y: scroll;
	height: 150px;
	margin-top: -100px;
	padding: 10px;
	margin-bottom: 20px;
	border: 5px solid whitesmoke;
	display: none;
}

#otrosProd .lantern-mini{
	padding: 10px;
}

#otrosProd .lantern-mini img.active{
	border: 2px solid $color2;
}

#otrosProd::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#otrosProd::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#otrosProd::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}