// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "paleta";

.banda{
	background: url("banda_superior.jpg");
	background-size: cover;
	width: 100%;
	height: 100px;
	margin-top: -7px;
	border-bottom-style: ridge;
	margin-bottom: 10px;
}

.description{
		margin: 0 auto;
		float: left;
}

#destacados 
{
	background: rgba(0, 0,0, .7);
	padding: 0px;
	border-radius: 0px 50px 50px 50px ;
	width: 100%;
	margin-top: -9%;
}

#destacados > div.row:first-child
{
	background-color: $color2;
	margin: -2% 0;
	color: $color5;
	font-size: 10px;
	padding: 4px;
	font-style: italic;
	height: 12%;
	float: left;
	width: 50%;
	border-radius: 20px 20px 0 0;
}


#destacados .oferta
{
	background-color: rgba(250,250,250,.2);	
	height: 100px;
	margin: 15px;
	margin-left: 50px;
	margin-right: 50px;
	width: 90%;
	float: left;

	background: linear-gradient(left,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

/*	background-image: -o-linear-gradient(left, rgba(0, 0,0, .7) 0%, $color3 35%);
background-image: -moz-linear-gradient(left, rgba(0, 0,0, .7) 0%, $color3 35%);
background-image: -webkit-linear-gradient(left, rgba(0, 0,0, .7) 0%, $color3 35%);
background-image: -ms-linear-gradient(left, rgba(0, 0,0, .7) 0%, $color3 35%);
background-image: linear-gradient(to left, rgba(0, 0,0, .7) 0%, $color3 35%);*/


}


#destacados  img
{
	float: left;
	width: 10%;
	border: 2px solid #bbb;
	border-radius: 10px;
	border-bottom-style: ridge;
}
#destacados  p
{
	float: left;
}

#carouselContainer
{
	display: block;
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 60%;
	margin: 0 auto;
	height: 400px;


	
}

#carouselContainer img
{
	display:block;
	max-height: 55%;
	height: auto;
	min-height: 55%;
	margin-left: auto;
	margin-right: auto;


}