// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "paleta";

.banda{
	background: url("banda_superior.jpg");
	background-size: cover;
	width: 100%;
	height: 100px;
	margin-top: -7px;
	border-bottom-style: ridge;
	margin-bottom: 10px;
}

.description{
		margin: 0 auto;
		float: left;
		padding-top: 5%;
}

#destacados 
{
	background: rgba(0, 0,0, .7);
	padding: 0px;
	border-radius: 50px 0 50px 50px ;
	width: 100%;
	margin-top: -13%;
}

#destacados > div.row:first-child
{
	background-color: $color2;
	margin: -2% 0;
	color: $color5;
	font-size: 10px;
	padding: 4px;
	font-style: italic;
	height: 12%;
	float: right;
	width: 50%;
	border-radius: 20px 20px 0 0;
}

#destacados img
{
	display:block;
	max-height: 12%;
	height: auto;
	min-height: 12%;
	margin-left: auto;
	margin-right: auto;
}
#destacados > div.row:nth-child(n+2)
{
	margin: 10px;
	color: $color4;
}

#carouselContainer
{
	display: block;
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 60%;
	margin: 0 auto;
	height: 400px;


	
}

#carouselContainer img
{
	display:block;
	max-height: 55%;
	height: auto;
	min-height: 55%;
	margin-left: auto;
	margin-right: auto;


}