
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(1turn); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(1turn); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(1turn); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(1turn); }
}

@keyframes spin {
	to { transform: rotate(1turn); }
}





.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
    -webkit-animation: spin 1s infinite steps(8);
    -moz-animation: spin 1s infinite steps(8);
    -ms-animation: spin 1s infinite steps(8);
    -o-animation: spin 1s infinite steps(8);
    animation: spin 1s infinite steps(8);
    background: #fff;
}

.small.progress {
	font-size: 6px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
    -ms-transform-origin: 50% 2.5em;
    -webkit-transform-origin: 50% 2.5em;
    
}

.progress:before {
	background: #555;
}

.progress:after {
	    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	
        -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
 
}

.progress > div:after {
        -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
